# このファイルは requirements.txt を生成するために使用されます。
# 注:
# 環境作成時または pip-tools 使用時には、サポートする予定の Python の最小バージョンである Python 3.9 以上を使用してください。
# requirements.txt 内のパッケージを手動でアップグレードするには、以下のコマンドのみを実行してください。
# 1) python -m pip install pip-tools
# 2) pip-compile --generate-hashes --resolver=backtracking --upgrade ./requirements.in
# パッケージのセットアップまたはビルドに nox コマンドを使用している場合は、上記のコマンドを手動で実行する必要はありません。

# Required packages
pygls
packaging

# ここにツールを追加
